<app-transaction-item>
  <div data-test-hook="transactionColour" [style.background-color]="transactionDetails.categoryCode"></div>
  <div data-test-hook="transactionDate">{{transactionDate | date:'MMM. d'}}</div>
  <div data-test-hook="transactionMerchantName">{{merchant.name}}</div>
  <div data-test-hook="transactionType">{{transaction.type}}</div>
  <div data-test-hook="transactionAmount" [ngStyle]="getAmountCurrencyStyles()">
    <i class="bi bi-currency-euro"></i>{{transaction.amountCurrency.amount}}
  </div>
</app-transaction-item>
<hr>
