:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bg-image {
  position: relative;
  top: 0;
  bottom: 0;
  background-image: url('~src/assets/images/background.jpg');
  background-position: center top;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height: 100vh;
}

main {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
}

::ng-deep app-footer {
  background-color: #fff;
  padding: 0.6rem;
  position: fixed;
  bottom: 0;
}
