.card {
  width: 730px;
  height: 750px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.transactions-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.transactions-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overflow: auto;
}

::ng-deep app-custom-transaction-item:first-child > app-transaction-item {
  margin-top: 0;
}

::ng-deep app-custom-transaction-item:last-child > hr {
  display: none;
}

::ng-deep app-custom-transaction-item:last-child {
  app-transaction-item {
    margin-bottom: 0;
  }

  hr {
    display: none;
  }
}
