
<div class="card">
  <h5 class="card-header text-white">
    <i class="lni lni-list"></i>Transactions <span class="font-weight-bold">List</span>
    <button class="btn btn-danger" (click)="addDummyTransaction()">Add Dummy Transaction</button>
  </h5>
  <div class="card-body d-flex flex-column">
    <app-filter (inputChange)="onInputChange($event)"></app-filter>
    <div class="transactions-list flex-grow-1">
      <ng-container *ngIf="transactionsDataList$ | async as transactionsDataList">
        <app-custom-transaction-item
          *ngFor="let transactionData of transactionsDataList"
          [transactionData]="transactionData"
        ></app-custom-transaction-item>
      </ng-container>
    </div>
  </div>
</div>
